PORT=3000
MONGODB_URI=mongodb+srv://Deepak:Deepak3008@cluster0.4qw6zul.mongodb.net/nocturne_chess?appName=Cluster0
JWT_SECRET=8f3d41c9e72a6b50d194e83f2ac765b0c491de7a365fc820b74ea2d91f608c53
JWT_EXPIRES_IN=15m
CLIENT_ORIGIN=http://localhost:5173
